---
version: '3.8'
services:
  db:
    user: "!!UID!!"
    restart: unless-stopped
    ports:
      - "5444:5432"
    env_file:
      - ./.envs/.postgres

  app:
    user: "!!UID!!"
    build:
      context: .
      dockerfile: .devops/docker/Dockerfile
      target: development-stage
      args:
        DJANGO_ENV: development
        USER_ID: "!!UID!!"
    env_file:
      - ./.envs/.django
      - ./.envs/.postgres
    stdin_open: true
    tty: true
